body, html {
    height: 100%;
  }
.bg-img{
  background-image:url("./img/valery-sysoev-cga7Rg8TUVE-unsplash.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px) ;
  -webkit-filter: blur(2px) ;
  height: 100%;
}


h1{
    color: rgb(12, 6, 6);
    text-align: center;
    background: rgb(255, 196, 0);
}

h2{
    text-align: center;
    color: navy;
    background: orange;
}
.para{
    background: rgba(155, 152, 152, 0.363);
    width: 75%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 2%;
}
.blog{
    background: #62493565;
    height: 400px;
    width: 100%;
}
.blog p{
    padding: 20px;
    color: rgb(209, 209, 209);
}
.bg-content{
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
